h1 {
  font-size: $font-size-biggest;
  margin-bottom: 4rem;
  letter-spacing: .1rem;
}
h2 {
  font-size: $font-size-huge;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
}
h3 {
  font-size: $font-size-bigger;
  margin-bottom: 1rem;
  letter-spacing: .1rem;
  margin-top: 1.5rem;
}
h4 {
  font-size: $font-size-big;
  margin-bottom: 1rem;
  letter-spacing: .1rem;
}
h5 {
  font-size: $font-size-normal;
  margin-bottom: 1rem;
  letter-spacing: .1rem;
}